:root {
  /* Primary identity */
  --color-primary: #8c7aa6;
  --body-bg: #f2edf8;
  /* Navbar background*/
  --navbar-bg: #85729d;

  /* Action button background */
  --button-bg: #9a87b5;
  --button-hover-bg: #a493c0;

  /* Supporting neutrals */
  --color-bg-light: #fbf9fc;
  --color-bg-warm: #f6f2fa;

  /* Accent */
  --color-accent: #7f9485;
  --color-bg-accent: #9c8fb1;

  /* Text */
  --text-on-brand: #f6f3fa;
  --text-dark: #474542;
  --text-darker: #35332e;
  --text-dark-secondary: #585452;

  /* Text (light) */
  --text-light: #f8f6f2;
  --text-lighter: #fdfaf5;
  --text-light-secondary: #d6d0e0;

  /* Utility */
  --color-border-dark: #2013303a;
  --color-border: #6e5191;
  --color-shadow: rgba(0, 0, 0, 0.06);

  /* Footer */
  --footer-bg: #b4a0c8;

  /* Fonts */
  --font-heading: serif;
  --font-body: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.soft-strong {
  font-style: italic;
  color: var(--color-primary);
}

body {
  background: var(--body-bg);
  color: var(--text-dark);
  font-family: var(--font-body);

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: clamp(0.9rem, 2vw, 1.1rem);
  line-height: 1.8rem;

  /* overflow-x: hidden; */
}

.hor-bar {
  width: 90%;
  margin: 3rem auto;
  border: none;
  border: 1px solid var(--color-bg-accent);
}

h1,
h2 {
  color: var(--color-primary);
  line-height: 1.1;

  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(2.75rem, 6vw, 4rem);
  color: var(--text-on-brand);
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-bottom: 1rem;
}

nav {
  background: var(--navbar-bg);
  color: var(--text-light);
  height: 3rem;
  padding: 0.5rem 10%;
  display: flex;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.432);
  padding: 0rem 1rem;
  border-radius: 6px;
}

.action-btn {
  background-color: var(--button-bg);
  color: var(--text-on-brand);
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 1rem;
  border-radius: 0.65rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.btn-text {
  padding: 0;
  margin: 0;
  text-align: center;
}

.action-btn:hover {
  background-color: var(--button-hover-bg); /* darker green */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.hero-section {
  max-width: 100vw;
  height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/25.webp");
  background-size: cover;
  background-position: 0% 75%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 50, 70, 0.35);
  z-index: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.hero-cnt {
  width: 90%;
  top: 50%;
  text-wrap: wrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  font-size: clamp(1rem, 6vw, 2rem);
  z-index: 99;
  transform: translate(0, -50%);
}

.hero-link {
  text-decoration: none;
}

.quote-section {
  text-align: center;
  font-size: 1.25rem;
  color: inherit;
  padding: 5rem 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  font-style: italic;
  margin: 5rem 0rem;
}

.quote-text {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  line-height: 1.7;
  max-width: clamp(46ch, 80%, 85ch);
  margin: 0 auto;
  color: inherit;
}

.quote-text::before {
  content: "“";
  font-size: 3rem;
  vertical-align: top;
  line-height: 0;
  margin-right: 0.25rem;
  color: var(--color-primary);
}

.quote-text::after {
  content: "”";
  font-size: 3rem;
  vertical-align: bottom;
  line-height: 0;
  margin-left: 0.25rem;
  color: var(--color-primary);
}

.quote-author {
  font-family: "Italianno", serif;
  font-size: 2.75rem;
  color: var(--color-primary);
  align-self: flex-end;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: start;
  justify-items: stretch;
  text-align: left;
  column-gap: 0.5rem;
  row-gap: 6rem;
  margin: 12rem 0rem;
  padding: 0;
  padding: 0rem 5%;
}

.col1,
.col2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6rem;
  color: var(--text-dark);

  padding: 0rem 10%;
}

.teraphy-section {
  display: flex;
  color: var(--text-dark);
  line-height: 1.6;
  flex-direction: column;
}
.teraphy-section .unordered-list {
  gap: 1.2rem;
}

.unordered-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  color: var(--text-dark);
  line-height: 1.75rem;
  gap: 0.25rem;
}

.unordered-list ul {
  padding-top: 0.25rem;
  margin-left: 1.5em;
  gap: 0rem;
}

.teraphy-text {
  color: inherit;
}

.about-section {
  line-height: 1.6;
  display: flex;

  color: var(--text-dark);
  flex-direction: column;
}

.about-text {
  color: inherit;
}
.expert-in-text {
  color: inherit;
  font-style: italic;
}
.position-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-dark);
  flex-direction: column;
}

.position-text {
  color: inherit;
}

.map-container {
  width: 100%;
  max-width: 45rem;
  aspect-ratio: 4/3;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.025);
  border: 1px solid var(--color-bg-warm);
  margin-top: 2rem;
  margin-top: 6rem;
  align-self: center;
  justify-self: center;
  border-radius: 0.25rem;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  margin-top: 12rem;
  background-color: var(--footer-bg);
  padding: 3rem 6% 6rem 6%;
  color: var(--text-darker);
  font-style: italic;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
